.datesContainer {
    width: 100%;
}

.dateList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.dateList li {
    border-top: 1px solid white;
    padding: .5rem .25rem;
    display: grid;
    grid-template-areas: 
    'dateTime venue cityState'
    'directionsButton tickets address';
    grid-auto-columns: 33.33%;
}

.dateList li:last-child {
    border-bottom: 1px solid white;
}

.dateTime {
    grid-area: dateTime;
    text-align: left;
    font-size: 1rem;
}

.dateTime * {
    display: inline;
}

.venue {
    grid-area: venue;
    text-align: center;
    font-size: 1.5rem;
}

.cityState {
    grid-area: cityState;
    text-align: right;
    font-size: 1.5rem;
}

.directionsButton {
    grid-area: directionsButton;
    text-align: left;
}

.tickets {
    grid-area: tickets;
    text-align: center;
}

.address {
    grid-area: address;
    text-align: right;
}

.dateList li * {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 800px) {
    .dateList li {
        border-top: 1px solid white;
        padding: .5rem .5rem;
    }
}

@media screen and (min-width: 1500px) {
    .dateList li {
        border-top: 1px solid white;
        padding: .5rem 1rem;
    }
}