.featured {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.featuredContainer1 {
    position: relative;
    width: 100%;
    max-width: 60vh;
}

.featuredContainer2 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.center {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.center > * {
    flex: 0;
}